body {
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(to bottom, lightblue, orange);
    overflow: hidden;
    padding-left: 33%;
    padding-top: 2%;
    margin: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

#container {
    width: 1500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
    margin: 5px 5px;
}

#calculator {
    width: 350px;
    height: 525px;
    background-color: #ccccb3;
    position: absolute;
    padding-left: 2%;
    border-radius: 32px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

#result {
    height: 105px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 19px;
    color: #f8160b;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    color: #f8160b;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 30%;
    border-width: 1;
    font-weight: bold;
    font-size: 18px;
}

.number,
.empty {
    background-color: #8bedf7;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 30px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 30px;
    background-color: #05f8eb;
}

button:nth-child(12) {
    font-size: 30px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 30px;
    background-color: #7d93e0;
}

button:nth-child(20) {
    font-size: 30px;
    background-color: #9477af;
}

button:nth-child(17) {
    background-color: #ffffff;
}

button:nth-child(19) {
    background-color: #ffffff;
}